section.head-section {
  .center {
    order: 1;
    min-width: 640px;
    max-width: 640px;
    height: 360px;
    background-color: #e3e3e3;
  }

  .left {
    order: 0;
    min-width: 305px;
    max-width: 305px;
    height: 360px;
    margin-right: 10px;
    background-color: #e3e3e3;
  }
  .right {
    order: 2;
    min-width: 175px;
    max-width: 175px;
    height: 360px;
    margin-left: 10px;
    background-color: #e3e3e3;
  }
  .left-block,
  .center-block,
  .right-block {
    overflow: hidden;
  }
  .left-block {
    width: 305px;
    height: 110px;
    background-color: lightblue;
    display: inline-block;
    position: relative;
  }
  .left-block img {
    width: 305px;
    height: auto;
    z-index: 0;
    position: absolute;
  }
  .left-block .info-container {
    z-index: 1;
    position: absolute;
    bottom: 0;
    transform: translateY(30px);
  }
  .left-block .info-container:hover {
    transform: none;
  }
  .b2 {
    width: 175px;
    height: 175px;
    background-color: lightblue;
    display: inline-block;
  }

  @include laptop {
    .right {
      width: 175px;
      height: 360px;
      background-color: #e3e3e3;
      display: none;
    }
  }
  @include mobile {
    flex-wrap: wrap;
    .center {
      order: 0;
    }
    .left {
      order: 1;
    }
  }
}
