div.listed-post {
  //margin-top: 1rem;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  height: 159px;
  border-bottom: $gray-border;
  //background-color: wheat;
  .cover-img {
    max-width: 30%;
    min-width: 30%;
    padding-bottom: 16.875%;
    height: 0;
    margin: 0;
    @include img-bg;
  }
  .post-info {
    flex-grow: 1;
    margin: 0 0 0 1rem;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    h4 {
      margin-top: 4px;
      margin-bottom: 1rem;
      font-size: 20px;
      font-weight: 400;
      min-height: 44px;
      @include text-ellipsis(2, 40px);
    }
    h6 {
      color: $theme-gray-dark;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1rem;
      @include text-ellipsis(2, 34px);
    }
    .date-info {
      color: $theme-gray-dark;
      font-size: 14px;
      position: absolute;
      bottom: 4px;
    }
  }
  @include laptop {
    & {
      height: 132px;
    }
    .post-info {
      h4 {
        margin-top: 2px;
        margin-bottom: 4px;
      }
      .date-info {
        bottom: 2px;
      }
    }
  }
  @include screen-640 {
    & {
      height: 108px;
    }
    .post-info {
      border-bottom: none;
      h4 {
        margin-top: 2px;
        margin-bottom: 8px;
        font-size: 1rem;
        font-weight: 600;
        @include text-ellipsis(3, 54px);
      }
      h6 {
        display: none;
      }
      .date-info {
        bottom: 2px;
      }
    }
  }
  @include screen-480 {
    & {
      height: 81px;
    }
    .cover-img {
      // max-width: 40%;
      // min-width: 40%;
      padding-bottom: 0;
      height: 120%;
    }
    .post-info {
      margin-left: 8px;
      h4 {
        font-size: 14px;
        max-height: 48px;
      }

      .date-info {
        bottom: 2px;
      }
    }
  }
}
