section.sticky-columns {
  width: 100vw;
  max-width: 100%;
  background: $theme-blue-a2;
  height: 300px;
  margin-bottom: 12px;
  @include mobile {
    #sticky-columns {
      margin: 0 auto;
    }
  }

  .column {
    width: auto;
    .cover-img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      @include img-bg;
      float: left;
    }
    .title {
    }
  }
}
