section.sticky-columns {
  width: 100vw;
  max-width: 100%;
  background: rgba(111, 149, 187, 0.2);
  height: auto;
  padding: 0 0 2rem ;
  //margin-bottom: 12px;
  @include mobile {
    #sticky-columns {
      margin: 0 auto;
    }
  }
  .zhuanlan{
    width: 100%;
    padding-top:5px;
    h4{
      margin:0 0 5px;
      height: 2rem;
    }
    span{
      padding: 0 6px ;
      color:white;
      background-color: $theme-blue;
    }
  }
  .column {
    width: auto;
    .cover-img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      @include img-bg;
      float: left;
      margin-right: 0.75rem;
    }
    .title {
      margin: 0.75rem 0;
    }
    .desc{
      margin:10px 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 4.4rem;
    }
    .read-more{
      border:1px solid #003366;
      border-radius: 6px;
      padding: 0 6px;
    }
    .post-list h5 {
      @include text-ellipsis(1, 17px);
      margin-top: 5px;
      @include addicon("\f067");
      &:before {
        font-size: 6px;
        vertical-align: middle;
      }
    }
  }
  .owl-dots .owl-dot span{
    width: 20px;
    height: 5px;
    background: $theme-blue-a2;
  }
  .owl-dots .owl-dot.active span,  .owl-dots .owl-dot:hover span{
    background: $theme-blue-a8;
    width: 20px;
    height: 5px;
  }
}
