section.sticky-columns {
  width: 100vw;
  max-width: 100%;
  background: rgba(111, 149, 187, 0.2);
  height: auto;
  padding: 2rem 0;
  //margin-bottom: 12px;
  @include mobile {
    #sticky-columns {
      margin: 0 auto;
    }
  }

  .column {
    width: auto;
    .cover-img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      @include img-bg;
      float: left;
      margin-right: 0.75rem;
    }
    .title {
      margin: 0.75rem 0;
    }
    .post-list h5 {
      @include text-ellipsis(1, 17px);
      @include addicon("\f111");
      &:before {
        font-size: 6px;
        vertical-align: middle;
      }
    }
  }
}
