/* TODO: PingFang or PingFang SC? */
* {
  font-family: "lucida grande", "lucida sans unicode", "lucida", "Helvetica",
    "Tahoma", "Arial", "PingFang SC", "Microsoft YaHei", "Noto Sans CJK SC",
    "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
}
main {
  min-height: calc(100vh - 48px);
  padding-bottom: 200px;
  margin-top: 16px;
}
[v-cloak] {
  display: none;
}
button {
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  padding: 8px 16px;
  overflow: visible;
  background: lightgray;
  -webkit-tap-highlight-color: transparent;
}
button:hover {
  background: gray;
}
button:active {
  background: lightslategray;
}
.gam-aulv {
  background-color: $theme-blue-a2;
  overflow: hidden;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}
h5 {
  margin: 0;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: $theme-blue;
}
a:hover,
a:focus {
  color: $theme-red;
}
