.relatedPost{
    .rPostBox{
        margin: 0 5px 10px;
        font-size: 14px;
        a:visited, a:active, a:link{
            color: #444;
            text-decoration: none;
        }
        a:hover{
            color:rgba(0, 51, 102, 0.8);
            text-decoration: none;
        }
        p{
            margin: 3px 0;
        }
    }
    .rPostImg{
        position: relative;
        overflow: hidden;
        width:290px;
        height:100px;
        margin-bottom:5px;
    }
    .rPostImg img{
        height: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
}
@include mobile {
    .relatedPost{
        .rPostBox{
            width:100%;
            display:inline-block;
        }
        .rPostImg{
            float: left;
            width:90px;
            height:61px;
        }
    }
}
@media (max-width:640px) {
    .relatedPost{
        .text{
            text-align: center;
        }
    }
}