body.single-post {
  main {
    margin-top: 16px;
  }
  .article {
    flex-grow: 1;
    margin-right: 20px;
  }
  .title {
    margin-top: 0;
  }
  .featured-img,
  .header-play {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }
  .featured-img {
    display: none;
  }
  .header-play iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .with-video {
    padding-top: 16px;
  }
  .content {
    @include clearfix;
    line-height: 1.5;
    font-size: 17px;
    max-width: 100%;
  }
  .content img {
    max-width: 100%;
    height: auto;
  }
  .content figure {
    width: 100% !important;
  }
  .content figcaption {
    @include addicon("\f102");
    @include font-small;
    cursor: pointer;
  }
  .footer {
    @include clearfix;
  }
  .sidebar {
    min-width: 300px;
    max-width: 300px;
  }
  .aulv-lb {
    height: 90px;
    width: 728px;
    margin: 0 auto;
    margin-top: 8px;
  }
  .aulv-a1 {
    height: 250px;
    width: 300px;
    float: left;
    position: relative;
    top: 16px;
    margin-right: 17px;
    margin-bottom: 17px;
  }
  .aulv-a2-outer,
  .aulv-a3-outer {
    width: 50%;
    display: inline-block;
  }
  .aulv-a2-outer {
    float: left;
  }
  .aulv-a3-outer {
    float: right;
  }
  .aulv-a2,
  .aulv-a3 {
    height: 250px;
    width: 300px;
    margin: 0 auto;
  }
  @include mobile {
    main {
      flex-wrap: wrap;
      margin-top: 8px;
    }
    .header {
      margin: 0 20px;
    }
    .article {
      flex-grow: 1;
      margin-right: 0;
    }
    .content {
      margin: 0 20px;
      font-size: 1rem;
    }
    .footer {
      margin: 0 20px;
    }
    .sidebar {
      margin: 0 20px;
      max-width: 800px;
      min-width: 280px;
      flex-grow: 1;
    }
    .aulv-lb {
      height: 50px;
      width: 320px;
    }
    .aulv-a1 {
      height: 50px;
      width: 320px;
      margin: 16px auto 0px;
      float: none;
      position: static;
    }
    .aulv-a2-a3 {
      margin: 0 -20px;
    }
    .aulv-a2-outer,
    .aulv-a3-outer {
      float: none;
      width: 100%;
      display: inline-block;
    }
    .aulv-a2,
    .aulv-a3 {
      height: 50px;
      width: 320px;
      margin: 0 auto;
    }
  }
  @include screen-480 {
    .featured-img,
    .header-play {
      display: block;
      margin: 0 -20px;
      width: 100vw;
    }
    .title-and-excerpt {
      background-color: white;
      margin-right: 64px;
      position: relative;
      top: -64px;
      padding-top: 1px;
      padding-left: 20px;
      margin-left: -20px;
      margin-bottom: -64px;
      min-height: 64px;
    }
    .with-video {
      padding-top: 0;
    }
    .title {
      font-size: 20px;
      margin-top: 16px;
      padding-right: 8px;
    }
  }
}
